html, body {
  height: 100%;
  margin: 0;
}

body {
  font: 14px/1.5em sans-serif;
}

@font-face {
  font-family: Roboto;
  src: url(Roboto/Roboto-Regular.ttf);
}

.bg-photo {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0.3);
}

.author, .logo {
  position: fixed;
}

.author {
  font-family: Roboto;
	text-align: right;
	color: white;
  right: 1em;
  bottom: 1em;
  text-decoration: none;
  opacity: 0.3;
}

.author:hover {
  text-decoration: underline;
  opacity: 1;
}

.logo {
  top: 2em;
  left: 2em;
  height: 57.5px;
  width: 150px;
  background: url(https://youpic.com/images/logo/logo-landing.png) no-repeat center center;
  background-size: cover;
  opacity: 1;
}

.profile {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
